* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 14vw;
  display: flex;
  flex-direction: column;
  overflow-x: none;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form > .input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 900px;
  height: 100%;
}

.lists-right {
  width: auto;
  height: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
  width: auto;
  height: auto;
}

.logout {
  text-decoration: none;
  color: #333333;
  width: auto;
  height: auto;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}
.all-item-nav-btn {
  width: 300px;
  text-align: center;
}

.all-item-nav-btn a {
  text-decoration: none;
  color: #333333;
}

.category-nav-btn {
  text-decoration: none;
  color: #333333;
  width: 300px;
  text-align: center;
}

.brand-nav-btn {
  text-decoration: none;
  color: #333333;
  width: 300px;
  text-align: center;
}
.category-nav-btn p {
  color: #333333;
}

.brand-nav-btn a {
  color: #333333;
}

.category-nav-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  z-index: 10;
  background-color: #3ccace;
  text-align: center;
  display: none;
}

.brand-nav-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  z-index: 10;
  text-align: center;
  background-color: #3ccace;
  display: none;
}

.category-nav-list a {
  text-decoration: none;
  color: #333333;
}

.brand-nav-list a {
  text-decoration: none;
  color: #333333;
}

.lists-left-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
}

.lists-left-list {
  position: relative;
  display: flex;
  width: 900px;
  height: auto;
  padding-left: 300px;
}
